<% include ../partials/header.ejs %>

  <div class="form-heading"><%= locals.album.title %></div>
  <div class="album-container">
    <h3 class="review-header album-review-header">Reviews</h3>
    <a class="btn btn-new-review" href="/albums/<%= locals.album.id %>/reviews/new">Add review</a>
    <div class="review-list">
      <% include ../partials/reviews_list.ejs %>
    </div>
  </div>

<% include ../partials/footer.ejs %>