<% include ../partials/header.ejs %>

  <h1><%= locals.album.title %></h1>
  <em>by <%= locals.album.artist %></em>

  <h2>Reviews</h2>
  <% include ../partials/reviews_list.ejs %>
  <!-- TODO: implement album reviews -->

<% include ../partials/footer.ejs %>