<% include ../partials/header.ejs %>
  <div class="vinyl-image"></div>
  <div class="homepage-content">
    <div class="album-list">
      <h3 class="review-header">Records</h3>
      <% albums.forEach(function(album) { %>
        <div class="record-list-item">
          <a class="records-album-title" href="/albums/<%= album.id %>"><%= album.title %></a>
          <span class="records-album-artist"><%= album.artist %></span>
        </div>
      <% }) %>
    </div>

    <div class="review-list">
      <h3 class="review-header">Recent Reviews</h3>
      <% include ../partials/reviews_list.ejs %>
    </div>
  </div>
<% include ../partials/footer.ejs %>
