<% include ../partials/header.ejs %>
  <div class="vinyl-image"></div>
  <div class="homepage-content">
    <div class="album-list">
      <% albums.forEach(function(album) { %>
        <div>
          <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
          <span><%= album.artist %></span>
        </div>
      <% }) %>
    </div>

    <div class="review-list">
      <h3>Reviews:</h3>
      <% include ../partials/reviews_list.ejs %>
    </div>
  </div>
<% include ../partials/footer.ejs %>
