<% include ../partials/header.ejs %>

  <h1>New review for <%= locals.album.title %></h1>
  <form action="/albums/<%= locals.album.id %>/reviews/new" method="POST">
    <textarea name="reviewContent" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit">
  </form>

<% include ../partials/footer.ejs %>