<% include ../partials/header.ejs %>

  <div class="form-heading form-heading-smaller">New review for <%= locals.album.title %></div>
  <form class="new-review-form" action="/albums/<%= locals.album.id %>/reviews/new" method="POST">
    <textarea class="new-review-content" name="reviewContent" cols="40" rows="15"></textarea>
    <input class="btn btn-form-submit" type="submit" value="Submit">
  </form>

<% include ../partials/footer.ejs %>