<% include ../partials/header.ejs %>
<div class="profile-layout">
  <div class="profile-picture"></div>
  <div class="profile-info-box">
    <div class="profile-name"><%= user.name %></div>
    <div class="profile-email-label">Email </div>
    <div class="profile-email"><%= user.email %></div>
    <div class="profile-date-label">Date Joined </div>
    <div class="profile-date"><%= user.date_created%></div>
  </div>
  <div class="review-list">
    <h3 class="review-header">Reviews</h3>
    <% include ../partials/reviews_list.ejs %>
  </div>
</div>

<% include ../partials/footer.ejs %>