<% include ../partials/header.ejs %>

<form action="/sign-in" method="POST">
  <ul>
    <li>
      <p>Email</p>
      <input type="email" name="email" placeholder="user@email.com" value=<%= autofill.email %>>
    </li>
    <li>
      <p>Password</p>
      <input type="password" name="password" placeholder="********" value=<%= autofill.password %>>
    </li>
    <li>
      <input type="submit">
    </li>
  </ul>
</form>

<% include ../partials/footer.ejs %>