<% include ../partials/header.ejs %>

  <% function recurse(recurseObj) { %>
    <% for (let item in recurseObj) { %>
      <% if (typeof locals.obj.item === 'object') { %>
        <% recurse(locals.obj.item) %> 
      <% } else { %>
        <div><%= item %> : <%= locals.obj[item] %></div>
      <% } %>
    <% } %>
  <% } %>
  <% recurse(locals.obj) %>

<% include ../partials/footer.ejs %>