.vinyl-image {
  height: 250px;
  grid-area: image;
  background-image: url("http://lorempixel.com/640/250/technics/");
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px black solid;
  border-top: 0;
  margin-bottom: 20px;
}

.homepage-content {
  display: grid;
  grid-area: content;
  grid-template-columns: 20px 2fr 1fr 8fr 40px;
  grid-template-areas:
    ". albumlist . reviewlist .";
}

.album-list {
  grid-area: albumlist;
}

.review-list {
  text-align: justify;
  grid-area: reviewlist;
}

@media screen and (max-width: 376px) {
  .vinyl-image {
    height: 100px;
  }

  .homepage-content {
    grid-template-columns: auto;
    grid-template-areas:
      "albumlist"
      "reviewlist";
    justify-items: center;
    padding: 0 15px;
  }
}