.review-list {
  display: grid;
  grid-template-columns: 1fr;
}

.review {
  display: grid;
  margin-bottom: 3.5rem;
}

.review:not:first-child {
  margin-top: -2rem;
}

.review a {
  text-decoration: underline;
}

.review-other {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title date"
    "content content"
    ". author";
}

.review-self {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  ". trash"
  "title date"
  "content content";
}

@media screen and (max-width: 426px) {
  .review-other {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "date"
      "content"
      "author";
  }

  .review-self {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "title trash"
    "date date"
    "content content";
  }
}

.review-title {
  grid-area: title;
}

.review-date {
  grid-area: date;
  font-style: italic;
  font-size: 0.8em;
  text-align: end;
}

.review-author {
  padding-top: 2rem;
  grid-area: author;
  text-align: end;
}

.review-content {
  grid-area: content;
}

.delete-review {
  grid-area: trash;
  font-size: 2em;
  background-color: transparent;
  border: none;
  text-align: end;
  position: relative;
  left: 2.5rem;
  top: 2rem;
}