.review-list {
  display: grid;
  grid-template-columns: 1fr;
}

.review {
  display: grid;
  margin-bottom: 3.5em;
}

.review a {
  text-decoration: underline;
}

.review-other {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title date"
    "content content"
    ". author";
}

.review-self {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  ". trash"
  "title date"
  "content content";
}

.review-title {
  grid-area: title;
}

.review-date {
  grid-area: date;
  font-style: italic;
  font-size: 0.8em;
  text-align: end;
}

.review-author {
  padding-top: 2rem;
  grid-area: author;
  text-align: end;
}

.review-content {
  grid-area: content;
}

.delete-review {
  grid-area: trash;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  text-align: end;
}

@media screen and (min-width: 427px) {
  .review:not:first-child {
    margin-top: -2em;
  }

  .delete-review {
    position: relative;
    left: 2.5em;
    top: 2em;
    font-size: 2em;
  }
}

@media screen and (max-width: 426px) {
  .review-other {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "date"
      "content"
      "author";
  }

  .review-self {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "title trash"
    "date date"
    "content content";
  }

  .review-author {
    padding-top: 0.5em;
  }

  .review-list {
    margin-top: 2.5em;
  }
}