<!DOCTYPE html>
<html>
<head>
  <title>Vinyl<%= locals.title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
  <script type="text/javascript" src="/scripts/script.js"></script>
</head>
  <body>
  <% include ./navbar.ejs %>
  <h1 class="warning"><%= locals.flash %></h1>
  <h1 class="success"></h1>