<!DOCTYPE html>
<html>
<head>
  <title>Vinyl<%= locals.title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script type="text/javascript" src="/scripts/script.js"></script>
</head>
  <body>
  <% include ./navbar.ejs %>