<div>
  <ul>
    <li>
      <a href="/">Vinyl</a>
    </li>
    <li>
      <a href="<%= locals.navbutton1.link %>"><%= locals.navbutton1.text %></a>
    </li>
    <li>
      <a href="<%= locals.navbutton2.link %>"><%= locals.navbutton2.text %></a>
    </li>
  </ul>
</div>