<div class="navbar">
  <div class="nav-left">
    <a href="/">Vinyl</a>
  </div>
  <div class="nav-button1">
    <a href="<%= locals.navbutton1.link %>"><%= locals.navbutton1.text %></a>
  </div>
  <div class="nav-button2">
    <a href="<%= locals.navbutton2.link %>"><%= locals.navbutton2.text %></a>
  </div>
</div>